<div class="pageDiv" th:fragment="html" xmlns:th="http://www.w3.org/1999/xhtml">
    <ul class="pagination">
        <li :class="{ disabled: pagination.first }">
            <a  href="#" @click="jump('first')">«</a>
        </li>
        <li :class="{ disabled: !pagination.hasPrevious }">
            <a  href="#" @click="jump('pre')">‹</a>
        </li>

        <li v-for="i in pagination.navigatepageNums">
            <a href="#" @click="jumpByNumber(i-1)" >
                {{i}}
            </a>
        </li>

        <li :class="{ disabled: !pagination.hasNext }">
            <a  href="#" @click="jump('next')">›</a>
        </li>
        <li :class="{ disabled: pagination.last }">
            <a  href="#" @click="jump('last')">»</a>
        </li>
    </ul>
</div>