<div class="topper" th:fragment="html" xmlns:th="http://www.w3.org/1999/xhtml">
    <img src="https://gss0.bdstatic.com/94o3dSag_xI4khGkpoWK1HF6hhy/baike/c0%3Dbaike150%2C5%2C5%2C150%2C50/sign=034b64a276f0f736ccf344536b3cd87c/1e30e924b899a901e42709eb13950a7b0308f5d9.jpg" alt="" class="logo">
    <span>今天也是元气满满的一天！</span>
    <ul class="nav-list">
        <li class="nav-item">
            <a href="admin_chart_show">JavaWeb后台</a>
        </li>
        <li class="nav-item">
            <a href="admin_category_list">分类管理</a>
        </li>
        <li class="nav-item">
            <a href="admin_user_list">用户管理</a>
        </li>
        <li class="nav-item">
            <a href="admin_order_list">订单管理</a>
        </li>
    </ul>
</div>