html,body{
	height: 100%;
}

body {
	position: relative;
	font-size: 14px;
	font-family: Arial, serif;
	min-width:1024px;
	background: #8ec5fc;
	background: -webkit-linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
	background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

div#workingArea{
	margin: 0 auto;
	width: 100%;
}

.listDataTableDiv{
	margin: 80px auto;
	width: 90%;
}

.listDataTableDiv table{
	font-weight: bold;
	opacity: 0.8;
}

.topper{
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0;
	background-color: rgba(255,255,255,0.7);
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	z-index: 10;
}

.logo{
	margin: 5px 5px 5px 10%;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	box-shadow: 0px 0px 2px 2px #ccc;
}

.topper span{
	color: #db5a6b;
	font-weight: bold;
}

.nav-list{
	width: 34%;
	position: absolute;
	top: 17px;
	right: 10%;
	display: flex;
	justify-content: space-around;
}

.nav-list .nav-item{
	display: inline-block;
	height: 30px;
	line-height: 26px;
	color: #db5a6b;
	font-weight:bold;
	text-decoration: none;
}

.nav-list .nav-item:hover{
	border-bottom: 2px solid #db5a6b;
}

.nav-list .nav-item:hover a{
	color: #db5a6b;
	cursor: pointer;
	text-decoration: none;
}

.nav-list .nav-item a:visited{
	color: #db5a6b;
	text-decoration: none;
}


div.addDiv{
	margin:-20px auto 10px;
	width:400px;
	padding:10px;
	text-align:center;
	background-color:rgba(255,255,255,0.8);
	border-radius:8px;
}
div.addDiv .panel-heading{
	margin-bottom:3px;
	font-size:16px;
	font-weight:bold;
}
div.addDiv input, div.editDiv input{
	border-radius:8px;
}
div.addDiv a, div.editDiv a{
	display:block;
	margin:0 auto;
	width:20%;
}
div.editDiv{
	margin:100px auto;
	width:400px;
	padding:10px;
	text-align:center;
	background-color:rgba(255,255,255,0.8);
	border-radius:8px;
}
div.editDiv .panel-heading{
	margin-bottom:3px;
	font-size:16px;
	font-weight:bold;
}
table.addTable{
	width:100%;
}
table.editTable{
	width:100%;
}
table.editTable td{
	padding:5px;
}
table.addTable td{
	padding:5px;
}
div.pageDiv{
	width:100%;
	text-align:center;
}
div.listDataTableDiv{
	min-height:220px;
}
div.footer{
	margin:20px;
}
div.editPVDiv{
	width:500px;
	margin:80px auto;
	font-size:16px;
}
table.editTable{
	text-align:center;
}
table.editTable td{
	font-weight:bold;
}
div.editPVDiv input{
	outline: none;
	border:1px solid #ccc;
	border-radius: 8px;
	text-indent: 0.5em;
}
div.addPictureDiv{
	width:400px;
}
td.addPictureTableTD{
	padding:10px 100px;
	text-align:center;
	vertical-align: top;
}
div.orderPageOrderItem{
	width:100%;
	padding:20px;
}
ul.pagination a.current{
	font-weight:bold;
	color:black;
}
ul.pagination{
	margin:3px auto;
	width:20%;
	display:flex;
	justify-content:space-evenly;
	font-size:16px;
	background-color: rgb(255,255,255);
}
ul.pagination li{
	display:inline-block;
	padding:5px;
}
.disableHref{
	cursor:default;
	color:#E5E0E0;
	text-decoration:none;
}

/* AdminFooter.html */
.footer{
	width:100%;
	padding: 10px;
	background-color: rgba(0,0,0,.5);
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
}
.footer li{
	display: block;
	margin: 8px;
}
.footer li:nth-child(1){
	font-size: 16px;
	margin: 10px;
}

/* chart.html */
.chartDIV{
	margin:80px auto;
	width:40%;
	padding:50px;
	background-color:#fff;
	border-radius:20px;
}
