<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/admin/adminHeader::html" ></head>
    <body>
    <div id="workingArea">
        <div th:replace="include/admin/adminNavigator::html" ></div>
            <script>
                $(function () {
                    let data4Vue = {
                        uri:"adminlogin",
                        result:[],
                        admin:{email:"",password:""}
                    }
                    // ViewModel
                    let vue = new Vue({
                        el:"#workingArea",
                        data:data4Vue,
                        mounted:function () {

                        },
                        methods:{
                            login:function () {
                                let url = this.uri
                                if( 0 === this.admin.email.length){
                                    $("span.errorMessage").html("请输入账号")
                                    $("div.loginErrorMessageDiv").css("display","block")
                                    return
                                }
                                if(0 === this.admin.password.length){
                                    $("span.errorMessage").html("请输入密码")
                                    $("div.loginErrorMessageDiv").css("display","block")
                                    return
                                }

                                axios.post(url,this.admin).then(function(response) {
                                    let result = response.data
                                    if(result.code === 0){
                                        location.href="admin"
                                    }
                                    else{
                                        $("span.errorMessage").html(result.message)
                                        $("div.loginErrorMessageDiv").css("display","block")
                                    }
                                })
                            }
                        }
                    })
                })
            </script>

            <section class="h-100">
                <div class="container h-100">
                    <div class="row justify-content-md-center h-100">
                        <div class="card-wrapper">
                            <div class="card fat">
                                <div class="card-body">
                                    <h3 class="card-title title-purple">登录</h3>
                                    <div class="loginErrorMessageDiv">
                                        <div class="alert alert-danger" >
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                                            <span class="errorMessage">22</span>
                                        </div>
                                    </div>
                                    <form method="POST" class="my-login-validation" novalidate="" id="login-form">
                                        <div class="form-group">
                                            <label for="email">账号</label>
                                            <input v-model="admin.email" id="email" type="email" class="form-control" name="email" value="" required autofocus>
                                        </div>

                                        <div class="form-group">
                                            <label for="password">密码
                                                <a href="#" class="float-right purple-a">
                                                    忘记密码?
                                                </a>
                                            </label>
                                            <input v-model="admin.password" id="password" type="password" class="form-control" name="password" required data-eye>
                                        </div>


                                        <div class="form-group m-0">
                                            <button type="button" class="btn btn-primary btn-block btn-purple"  @click="login">
                                                登录
                                            </button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="bg-bubbles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </section>
        <div th:replace="include/admin/adminFooter::html" ></div>
    </div>
</body>