<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/admin/adminHeader::html" ></head>
<body>
    <div th:replace="include/admin/adminNavigator::html" ></div>

    <script>

        $(function(){
            let data4Vue = {
                uri : "adminchart",
                categories:[],
                name:[],
                saleCount:[],
                dateName:[],
                saleInfo:[]
            }

            let vue = new Vue({
                el:"#workingArea",
                data:data4Vue,
                mounted:function () {
                   this.checklogin()
                },
                methods:{
                    checklogin:function(){
                        let url = "admincheckLogin"
                        axios.get(url).then(function(response) {
                                if(0 === response.data.code){
                                    vue.load()
                                }else{
                                    location.href="adminlogin"
                                }
                        })
                    },
                    load:function () {
                        let url = "categories/saleinfo"
                        axios.get(url).then(response =>{
                            let result = response.data
                            vue.categories = result.data.categories
                            vue.saleCount = result.data.saleCount
                            vue.saleInfo = result.data.saleInfo
                            for( let n in vue.categories){
                                vue.name.push(vue.categories[n].name)
                            }
                            console.log(vue.saleCount)
                            this.drawCategory()
                        })
                    },
                    drawCategory:function () {
                        let cxt = $("#categoryChart").get(0).getContext("2d")
                        let categoryChart = new Chart(cxt,{
                            type:'doughnut',
                            data:{
                                labels: vue.name,
                                datasets:[{
                                    label: '各分类销售量',
                                    data: vue.saleCount,
                                    borderColor:'lightGray',
                                    backgroundColor:[ '#d2ebc6', '#e3f4d0', '#ecfbed', '#e6f5e8', '#dcf8ec','#d3f1ea','#e5f8f6','#d1f3f3','#bce6e6','#9cd8d8'],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                tooltips: {
                                    intersect: false,
                                    mode: 'index'
                                }
                            }
                        })
                        let cxt_ = $("#SaleChart").get(0).getContext("2d")
                        let dailySaleChart = new Chart(cxt_,{
                            type:'line',
                            data:{
                                labels: vue.name,
                                datasets:[{
                                    label: '各分类销售额',
                                    data: vue.saleInfo,
                                    borderColor:'blue',
                                    borderWidth: 1,
                                    fill: false
                                }]
                            },
                            options: {
                                tooltips: {
                                    intersect: false,
                                    mode: 'index'
                                }
                            }
                        })
                    }
                }
            })
        })




    </script>

<div id="workingArea">
    <div class="chartDIV">
        <canvas id="categoryChart"></canvas>
    </div>
    <div class="chartDIV">
        <canvas id="SaleChart"></canvas>
    </div>
</div>


    <div th:replace="include/admin/adminFooter::html" ></div>
</body>