<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="include/admin/adminHeader::html" ></head>
<body>
<div th:replace="include/admin/adminNavigator::html" ></div>
<script>
    $(function(){
        let data4Vue = {
            uri: 'categories',
            listURL:'admin_category_list',
            bean: { id: 0, name: '', hp: '0'}
        }

        //ViewModel
        let vue = new Vue({
            el: '#workingArea',
            data: data4Vue,
            mounted:function(){ //mounted　表示这个 Vue 对象加载成功了
                this.checklogin()
            },
            methods: {
                checklogin:function(){
                    let url = "admincheckLogin"
                    axios.get(url).then(function(response) {
                        if(0 === response.data.code){
                            vue.get()
                        }else{
                            location.href="admin_login"
                        }
                    })
                },
                get:function(){
                    let id = getUrlParms("id")
                    let url = this.uri + "/" + id
                    axios.get(url).then(function(response) {
                        vue.bean = response.data
                    })
                },
                update:function () {
                    if(!checkEmpty(this.bean.name, "分类名称"))
                        return
                    let url = this.uri + "/" + this.bean.id

                    let formData = new FormData()
                    formData.append("name", this.bean.name)
                    axios.post(url,formData).then(function(response){
                        location.href = vue.listURL
                    })
                }
            }
        })
    })
</script>

<div id="workingArea">
    <div class="panel panel-warning editDiv">
        <div class="panel-heading">编辑分类</div>
        <div class="panel-body">
            <table class="editTable">
                <tr>
                    <td>分类名称</td>
                    <td><input @keyup.enter="update" v-model.trim="bean.name" type="text" class="form-control"></td>
                </tr>
            </table>
            <a href="#" class="btn btn-success" @click="update">提 交</a>
        </div>
    </div>
</div>

<div th:replace="include/admin/adminFooter::html" ></div>
</body>
</html>