<template th:fragment="html" xmlns:th="http://www.w3.org/1999/XSL/Transform">
    <script src="../../../../webapp/js/jquery/2.0.0/jquery.min.js" th:src="@{/js/jquery/2.0.0/jquery.min.js}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link href="../../../static/css/bootstrap/3.3.6/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap/3.3.6/bootstrap.min.css}">
    <script src="../../../static/js/bootstrap/3.3.6/bootstrap.min.js" th:src="@{/js/bootstrap/3.3.6/bootstrap.min.js}"></script>
    <script src="../../../../webapp/js/vue/2.5.16/vue.min.js" th:src="@{/js/vue/2.5.16/vue.min.js}"></script>
    <script src="../../../../webapp/js/axios/0.17.1/axios.min.js" th:src="@{/js/axios/0.17.1/axios.min.js}"></script>
    <script src="../../../../webapp/js/moment/2.22.2/moment.js" th:src="@{/js/moment/2.22.2/moment.js}"></script>
    <link href="../../../../webapp/css/fore/style.css" rel="stylesheet" th:href="@{/css/fore/style.css}">
    <link href="../../../../webapp/css/core-reset.css" rel="stylesheet" th:href="@{/css/core-reset.css}">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script>
        function getUrlParms(para){
            let search = location.search //页面URL的查询部分字符串
            let arrPara = [] //参数数组。数组单项为包含参数名和参数值的字符串，如“para=value”
            let arrVal = [] //参数值数组。用于存储查找到的参数值

            if(search !== ""){
                let index = 0
                search = search.substr(1) //去除开头的“?”
                arrPara = search.split("&")

                for(i in arrPara){
                    let paraPre= para + "=" //参数前缀。即参数名+“=”，如“para=”
                    if(arrPara[i].indexOf(paraPre) === 0 && paraPre.length < arrPara[i].length){
                        arrVal[index] = decodeURI(arrPara[i].substr(paraPre.length)) //顺带URI解码避免出现乱码
                        index++
                    }
                }
            }

            if(arrVal.length === 1){
                return arrVal[0]
            }else if(arrVal.length === 0){
                return null
            }else{
                return arrVal
            }
        }

        function formatMoney(num){
            num = String(num);
            num = num.toString().replace(/\$|\,/g,'')
            if(isNaN(num))
                num = "0"
            // sign = (num === (num = Math.abs(num)))
            num = Math.floor(num*100+0.50000000001)
            cents = num % 100
            num = Math.floor(num/100).toString()
            if(cents<10)
                cents = "0" + cents
            for (let i = 0; i < Math.floor((num.length-(1+i))/3); i++)
                num = num.substring(0,num.length-(4*i+3))+','+
                    num.substring(num.length-(4*i+3))
            return (num + '.' + cents)
        }

        function checkEmpty(id, name){
            let value = $("#"+id).val();
            if(value.length === 0){
                $("#"+id)[0].focus();
                return false
            }
            return true
        }

        function linkDefaultActions(){
            $("span.leaveMessageTextareaSpan").hide();
            $("img.leaveMessageImg").click(function(){
                $(this).hide();
                $("span.leaveMessageTextareaSpan").show();
                $("div.orderItemSumDiv").css("height","100px");
            })
        }

        Vue.filter("subStringFilter", function(value, start, end){
            if (!value)
                return ''
            return value.substring(start,end);
        })

        Vue.filter("formatMoneyFilter", function(value){
            return formatMoney(value)
        })

        Vue.filter('formatDateFilter', function (value, formatString) {
            if(null==value)
                return ""
            formatString = formatString || 'YYYY-MM-DD HH:mm:ss'
            return moment(value).format(formatString);
        })

    </script>

</template>