<div class th:fragment="html" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="searchProducts">
        <div class="productItem">
            <li class="item" v-for="p in products">
                <a :href="'product?pid='+p.id">
                    <img class="item-img" :src="'http://47.115.24.41/webapp/img/productSingle_middle/'+p.firstProductImage.id+'.jpg'">
                    <h4 class="item-title">{{p.name | subStringFilter(0,20)}}</h4>
                    <p class="item-owner">{{p.subTitle | subStringFilter(0,20)}}</p>
                    <span class="item-price">{{p.promotePrice | formatMoneyFilter}} RMB</span>
                    <button class="buy-btn">查看详情</button>
                </a>
            </li>
        </div>

        <div v-if="0 == products.length" class="noMatch">没有满足条件的产品</div>

        <div style="clear:both"></div>
    </div>
</div>