<div th:fragment="html" xmlns:th="http://www.w3.org/1999/xhtml">

    <script>
        function imgAndInfoPageRegisterListeners(vue){
            let stock = vue.p.stock
            $(".productNumberSetting").keyup(function(){
                let productNumberSetting = $(".productNumberSetting")
                let num= productNumberSetting.val()
                num = parseInt(num)
                if(isNaN(num))
                    num= 1
                if(num<=0)
                    num = 1
                if(num>stock)
                    num = stock
                productNumberSetting.val(num)
            })

            $(".increaseNumber").click(function(){
                let productNumberSetting = $(".productNumberSetting")
                let num= productNumberSetting.val()
                num++
                if(num>stock)
                    num = stock
                productNumberSetting.val(num)
            })
            $(".decreaseNumber").click(function(){
                let productNumberSetting = $(".productNumberSetting")
                let num= productNumberSetting.val()
                --num
                if(num<=0)
                    num=1
                productNumberSetting.val(num)
            })

            $(".addCartButton").removeAttr("disabled")
            $(".addCartLink").click(function(){
                let url = "forecheckLogin"
                axios.get(url).then(function(response) {
                    if(0 === response.data.code){
                        let pid = vue.p.id
                        let num= $(".productNumberSetting").val()
                        let url =  "foreaddCart?pid="+pid+"&num="+num
                        axios.get(url).then(function(response) {
                            let result = response.data
                            if(0 === result.code){
                                $(".addCartButton").html("已加入购物车").attr("disabled","disabled").css("background-color","lightgray").css("border-color","lightgray").css("color","black")
                            }
                        })
                    }
                    else{
                        $("#loginModal").modal('show')
                    }
                })
            })
            $(".buyLink").click(function(){
                let url = "forecheckLogin"
                axios.get(url).then(function(response) {
                    if(0 === response.data.code){
                        let pid = vue.p.id
                        let num= $(".productNumberSetting").val()
                        let url =  "forebuyone?pid="+pid+"&num="+num
                        axios.get(url).then(function(response) {
                            let oiid = response.data
                            location.href="buy?oiid="+oiid
                        })
                    }
                    else{
                        $("#loginModal").modal('show')
                    }
                })
                return false
            })

            $(".loginSubmitButton").click(function(){
                let url =  "forelogin"
                console.log(vue.user)
                if(0 === vue.user.email.length){
                    $("span.errorMessage").html("请输入邮箱")
                    $("div.loginErrorMessageDiv").css("display","block")
                    return
                }
                if(0 === vue.user.password.length){
                    $("span.errorMessage").html("请输入密码")
                    $("div.loginErrorMessageDiv").css("display","block")
                    return
                }

                axios.post(url,vue.user).then(function(response) {
                    let result = response.data
                    if(result.code === 0){
                        location.href="product?pid="+vue.p.id
                    }
                    else{
                        $("span.errorMessage").html(result.message)
                        $("div.loginErrorMessageDiv").css("display","block")
                    }
                })
            })

            $("img.smallImage").mouseenter(function(){
                let bigImageURL = $(this).attr("bigImageURL")
                $("img.bigImg").attr("src",bigImageURL)
            })

            $("img.bigImg").load(
                function(){
                    $("img.smallImage").each(function(){
                        let bigImageURL = $(this).attr("bigImageURL")
                        img = new Image()
                        img.src = bigImageURL

                        img.onload = function(){
                            $("div.img4load").append($(img))
                        }
                    })
                }
            )
        }

    </script>

    <div class="imgAndInfo">
        <div class="container">
            <ul class="show-area label">
                <div class="label-bar">{{p.name}}</div>
                <li>
                    <img v-if="firstProductImage!=null" :src="'http://106.12.105.160/webapp/img/productSingle/'+firstProductImage.id+'.jpg'" class="bigImg">
                    <div class="smallImageDiv">
                        <img v-for="pi in p.productSingleImages" :src="'http://106.12.105.160/webapp/img/productSingle_small/'+pi.id+'.jpg'" :bigImageURL="'http://106.12.105.160/webapp/img/productSingle/'+pi.id+'.jpg'" class="smallImage">
                    </div>
                    <div class="img4load hidden" ></div>
                </li>
                <li>
                    <h2 class="item-title">{{p.name}}</h2>
                    <p class="item-owner"><span data-wenk="{{p.subTitle}}" data-wenk-pos="right">{{p.subTitle}}</span></p>
                    <span class="item-price">￥{{p.promotePrice|formatMoneyFilter}}</span>

                    <div class="productNumber">
                    <span>数量</span>
                    <span>
                    <span class="productNumberSettingSpan">
                    <input class="productNumberSetting" type="text" value="1">
                    </span>
                    <span class="arrow">
                        <a href="#" class="increaseNumber">
                        <span class="updown">
                                <img src="img/site/increase.png">
                        </span>
                        </a>

                        <span class="updownMiddle"> </span>
                        <a href="#"  class="decreaseNumber">
                        <span class="updown">
                           <img src="img/site/decrease.png">
                        </span>
                        </a>

                        </span>件</span>
                    <span>库存{{p.stock}}件</span>
                </div>

                    <div class="buyDiv">
                        <a class="buyLink" ><button class="buyButton" >立即购买</button></a>
                        <a href="#" class="addCartLink"><button class="addCartButton">加入购物车</button></a>
                    </div>
                </li>
            </ul>
            <div class="productSaleAndReviewNumber">
                <div>销量 <span class="redColor boldWord"> {{ p.saleCount }}</span></div>
                <div>累计评价 <span class="redColor boldWord"> {{ p.reviewCount }}</span></div>
            </div>

        </div>

        <div style="clear:both"></div>

    </div>
</div>