<div th:fragment="html" xmlns:th="http://www.w3.org/1999/xhtml">
    <script>
        // 用于随机挑选一个产品作为推荐产品，来进行高亮显示
        $("div.productsAsideCategorys div.row a").each(function () {
            let v = Math.round(Math.random()*6)
            if(v === 1)
                $(this).css("color","#db5a6b")
        })

        // 渲染 轮播图 + 右侧菜单栏
        function homePageRegisterListeners(){

            let left = $("div#carousel-of-product").offset().left
            $("div.categoryMenu").css("left",left-20)
            $("div.categoryWithCarousel div.head").css("margin-left",left)
            $("div.productsAsideCategorys").css("left",left-20)
        }

        // 先加载Vue
        $(function () {
            let data4Vue = {
                uri:'forehome',
                categories:[]
            }
            // ViewModel
            let vue = new Vue({
                el:'#workingArea',
                data: data4Vue,
                // mounted 表示Vue对象加载成功
                mounted:function () {
                    linkDefaultActions()
                    this.load()
                },
                methods:{
                    load:function(){
                        let url = this.uri
                        // axios 方法
                        axios.get(url).then(function (response) {
                            vue.categories = response.data
                            vue.$nextTick(function () {
                                homePageRegisterListeners()
                            })
                        })
                    }
                },
                filters:{
                    subTitleFilter:function(value){
                        if(!value) return ""
                        return  value.split(" ")[0]
                    }
                }
            })
        })
    </script>

    <title>JavaWeb Shopping</title>
    <div class="homepageDiv">
        <div th:replace="include/fore/home/categoryAndcarousel::html"></div>
        <div th:replace="include/fore/home/homepageCategoryProducts::html"></div>
    </div>


</div>